.App {
  background: #343d52;
  color: white;
}

input {
  color: black;
}

.Parachute {
}

.Parachute-pane {
  align-items: center;
}

.Input-pane {
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .Parachute-pane {
    /*min-height: 100vh;*/
  }

  .Input-pane {
    min-height: 100vh;
  }
}
